@media screen and (max-width:576px){
    
    /* ..............Navbar Section................. */
    .nav_container{
        max-width: 476px;
       flex-direction: column;
    }
    .menus{
        margin-top: 20px;
        flex-direction: column;
    }
    .logo{
        margin-top: 20px;
    }
    .logo img{
        
        width: 76.041px;
        height: 30px;
    }
    .logo_text{
        text-align: center;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;    
    }
    .nav_container{

        margin-top: 20px;
    }

      /* ..............Banner Section................. */
    .banner{
        margin-top: 20px;
        background-image: none;
        background-position: center;
    }
    .Banner_Container{
        max-width: 376px;
        flex-direction: column-reverse;

    }
    .banner_Left,.banner_right{

        width: 100%;
        text-align: center;
      
    }
    .banner_Left{
        background-image: url('../images/banner_background.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        justify-content:center;
        margin-top: 30px;
        height: 20.6rem;
       
   
        
        
    }
  

    .banner_right img{
        height: 65%;
        width: 65%;
    }

    .banner_header{
        font-size: 32px;
    }
    .banner_text{
        font-size: 36px;
    }
    .ul{
        padding-left: 50px;
    }
    .ul li{
       font-size: 12px;     
    }
    .btn_primary{
        padding: 0.3em 1em;
       
    }
    .btn_blue{
        margin-left: 5px;
    }
    .btn_pink{
        margin-left: 30px;
    }

    /* ..............Gamer Section................. */

  
    .gamer{
        background:white
    }
    .gamer_container{
        max-width: 376px;
        flex-direction: column;
        margin-top: 40px;
    }
    .gamer_right, .gamer_left{
        width: 100%;
    }
    .gamer_header{
        font-size: 30px;
    }
    .gamer_right p,h1{
        text-align: center;
        font-size: 13px;
    }
    .btn_gamer{
        display: flex;
        justify-content: center;
    }
    .gamer_text_3{
        font-size: 18px;
    }
    /* ..............Funny Videos Section................. */
    .funny_videos_container{
        grid-template-columns: 1fr;

   
    }
   
    .figcaption{
        margin: 10px auto 20px;
        text-align: center;
        font-size: 11px;
        
        
    }
    .funny_games_header{
        font-size: 23px;
    }
    .funny_games_text{
        font-size: 11px;
        
    }

  /* ..............Play Instantly Section................. */

  .play_instantly{
    max-height: max-content;
  }
  .play_instantly_container{
    flex-direction: column;
    margin-right: 50px;


  }
  .play_instantly_right,.play_instantly_left{
    width: 100%;
    margin: 0px;
   
  }
  .play_instantly_right img{
    height: 100%;
    width: 100%;
  }
  .play_instant_sub img{
    width: 180.5px;
    height: 180px;
}
.play_instant_sub{
    position: relative;
    bottom: 100px;
    right: 50px;
    border-radius: 8px;  
}
.play_instantly_left p{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
}
.play_instantly_left h1{
    width: 100%;
    text-align: center;
    font-size: 28px    
}

  /* ..............Play Online Games Section................. */

  .play_online{
    max-height: max-content;
    padding: 0px 0px 0px 50px;
  }
  .play_online_container{
    flex-direction: column;
    margin-right: 50px;
  /* border: 2px solid red; */


  }
  .play_online_right,.play_online_left{
    width: 100%;
    margin: 0px;
   
  }
  .play_online_right img{
    height: 100%;
    width: 100%;
  }
  .play_online_sub img{
    width: 180.5px;
    height: 180px;
}
.play_online_sub{
    position: relative;
    bottom: 100px;
    left: 160px;
    width: max-content;
    /* border: 2px solid red; */
    border-radius: 8px;  
}
.play_online_left p{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
}
.play_online_left h1{
    width: 100%;
    text-align: center;
    font-size: 28px    
}
.Careers{
    padding: 0px 20px;
}
.career_container{
    flex-direction: column;
}
.career_left{
    width: 100%;
}
.career_right{
    width: 100%;
}
.ul_career{
    gap: 10px;
}
.ul_career .ul_right li{
    font-size: 14.5px;
    margin-bottom: 11px;
   
}

}