@media screen and (max-width:576px){
    
    /* ..............Navbar Section................. */
    .nav_container{
        max-width: 476px;
       flex-direction: column;
    }
    .menus{
        margin-top: 20px;
        flex-direction: column;
    }
    .logo{
        margin-top: 20px;
    }
    .logo img{
        
        width: 76.041px;
        height: 30px;
    }
    .logo_text{
        text-align: center;
        font-size: 2.2rem;
        font-style: normal;
        font-weight: 700;    
    }
    .nav_container{

        margin-top: 20px;
    }

      /* ..............Banner Section................. */
    .banner{
        margin-top: 20px;
        background-image: none;
        background-position: center;
    }
    .Banner_Container{
        max-width: 376px;
        flex-direction: column-reverse;

    }
    .banner_Left,.banner_right{

        width: 100%;
        text-align: center;
      
    }
    .banner_Left{
        background-image: url('../images/banner_background.png');
        background-repeat: no-repeat;
        background-size: contain;
        justify-content:center;
        margin-top: 30px;
       
   
        
        
    }
    /* .banner_left_sub{
  
       margin-left: 40px;
    } */

    .banner_right img{
        height: 65%;
        width: 65%;
    }

    .banner_header{
        font-size: 32px;
    }
    .banner_text{
        font-size: 36px;
    }
    .ul{
        padding-left: 50px;
    }
    .ul li{
       font-size: 12px;     
    }
    .btn_primary{
        padding: 0.3em 1em;
       
    }
    .btn_blue{
        margin-left: 5px;
    }
    .btn_pink{
        margin-left: 30px;
    }

    /* ..............Gamer Section................. */

    .gamer_container{
        max-width: 376px;
        flex-direction: column;
    }
    .gamer_right, .gamer_left{
        width: 100%;
    }
    .gamer_header{
        font-size: 30px;
    }
    .gamer_right p,h1{
        text-align: center;
        font-size: 13px;
    }
    .btn_gamer{
        display: flex;
        justify-content: center;
    }
    .gamer_text_3{
        font-size: 18px;
    }
}