@media screen and (min-width: 577px) and (max-width:992px){

    /* ..............Navbar Section................. */
    .logo img{
        
        width: 56.041px;
        height: 20px;
    }
    .logo_text{
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;    
    }
    .menus a, .nav_followus_container a{
       
        font-size: 0.8rem;
    }
    /* ..............Banner Section................. */
   .banner_right,.banner_Left{
    margin: 0 40px;
   }

    /* ..............Gamers Section................. */
    .banner_container{
        margin: 0px 40px;
    }
    .banner_right img{
        height: 25rem;
        width: 18.8rem;
    }
  

     /* ..............Gamer Section................. */
    .gamer_container{
       margin: 30px 40px;
      
       
    }
    .gamer_right p,h1{
        text-align: center;
        font-size: 13px;
    }
    .btn_gamer{
        display: flex;
        justify-content: center;
    }
 
    .gamer_left img{
        height: 20rem;
        width: 22rem;
    }
    /*..............Funny Videos Section................. */
    .funny_videos_container{
        grid-template-columns: 250px 250px;
        gap: 20px;
        justify-content: center;
        
    }
    .card{
        display: block;
        width: max-content;
       
    }

    .figcaption{
      
        text-align: center;
        font-size: 11px;

        
    }
  /* ..............Play Instantly Section................. */

  .play_instantly{
    margin-bottom: 200px;
    padding-left: 100px;
  
  }
  .play_instantly_container{
    flex-direction: column;
    margin-right: 50px;
  
   
  }
  .play_instantly_right,.play_instantly_left{
    width: 100%;
    margin: 0px;
  
  }
  .play_instantly_right img{
    height: 100%;
    width: 100%;
  }
  .play_instant_sub img{
    width: 350.5px;
    height: 380px;
}
.play_instant_sub{
    position: relative;
    bottom: 200px;
    right: 80px;
    border-radius: 8px;  
}
.play_instantly_left p{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
}
.play_instantly_left h1{
    width: 100%;
    text-align: center;

}


   /* ..............Play Online Games Section................. */

   .play_online{
    margin-bottom: 200px;
  }
  .play_online_container{
    flex-direction: column;
    margin-right: 50px;
  
   
  }
  .play_online_right,.play_online_left{
    width: 100%;
    margin: 0px;
  
  }
  .play_online_right img{
    height: 100%;
    width: 100%;
  }
  .play_online_sub img{
    width: 350.5px;
    height: 380px;
}
.play_online_sub{
    position: relative;
    bottom: 200px;
    left: 265px;
    width: max-content;
    border-radius: 8px;  
}
.play_online_left p{
    width: 100%;
    margin-bottom: 50px;
    text-align: center;
    font-size: 14px;
}
.play_online_left h1{
    width: 100%;
    text-align: center;

}
.Careers{
    padding: 0px 20px;
}
.career_container{
    flex-direction: column;
}
.career_left{
    width: 100%;
}
.career_right{
    width: 100%;
}
.ul_career{
    gap: 15rem;
}
}