@media screen and (min-width: 577px) and (max-width:992px){

    /* ..............Navbar Section................. */
    .logo img{
        
        width: 56.041px;
        height: 20px;
    }
    .logo_text{
        text-align: center;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;    
    }
    .menus a, .nav_followus_container a{
       
        font-size: 0.8rem;
    }
    /* ..............Banner Section................. */
   .banner_right,.banner_Left{
    margin: 0 40px;
   }

    /* ..............Gamers Section................. */
    .banner_container{
        margin: 0px 40px;
    }
    .banner_right img{
        height: 25rem;
        width: 18.8rem;
    }

     /* ..............Gamer Section................. */
    .gamer_container{
       margin: 0px 40px;
      
       
    }
    .gamer_right p,h1{
        text-align: center;
        font-size: 13px;
    }
    .btn_gamer{
        display: flex;
        justify-content: center;
    }
 
    .gamer_left img{
        height: 20rem;
        width: 22rem;
    }

}